<body data-aos-easing="ease" data-aos-duration="400" data-aos-delay="0">
  <div class="">
    <div class="menu">
  <div class="size margin menu--content container align-items-center justify-content-between">

    <div class="aos-init aos-animate" data-aos="fade-right" data-aos-delay="" data-aos-offset="0">
      <a href="/"><span>Los Angeles Animal Services |</span> Preparing For a Hearing</a>
    </div>

    <a href="https://www.laanimalservices.com/laws-policies/dangerous-animals/" target="_blank" data-aos="fade-left" data-aos-delay="" data-aos-offset="0" class="aos-init aos-animate">
      <div class="container align-items-baseline back-to-site">
        <div class="">
          <span class="feather-icon icon-external-link"></span>
        </div>
        <div class="back-to-site-text">
          Back to LAAS
        </div>
      </div>
    </a>
    <!-- <nav class="masthead-nav">

    </nav> -->
  </div>
</div>









<!-- breadcrumbs -->
<div class="size margin aos-init aos-animate" data-aos="fade-right" data-aos-delay="100" data-aos-offset="0">

<div class="container wrap breadcrumbs">
  <a href="/">Home</a>
  <span class="prompt margin-left-10 margin-right-10">&gt;</span>
  Preparing for a Hearing
</div>
</div>
<!-- breadcrumbs -->


<div class="size margin min-height">
  <article>
    <!-- titles -->
    <h1 class="post-title aos-init aos-animate" data-aos="fade-right" data-aos-delay="200" data-aos-offset="0">Preparing for a Hearing</h1>
    <div class="post-date aos-init aos-animate" data-aos="fade-left" data-aos-delay="300" data-aos-offset="0">
      <time>21 Apr 2020</time>
      <span class="reading-time" title="Estimated read time"> - 4 minutes to read</span>
    </div>
    <!-- titles -->

    <!-- posts -->
    <div class="margin-top-20 margin-bottom-50">



			<a class="anchor" id="q1"></a>
      <div class="list-item-2 container wrap-reverse align-items-end justify-content-center aos-init aos-animate" data-aos="fade-right" data-aos-delay="0" data-aos-offset="0">

        <div class="flex-basis-400 flex-grow-5">
          <div class="aos-init aos-animate" data-aos="fade-right" data-aos-delay="300" data-aos-offset="0">
            <h2 class="list-post-title">
              <p>Why am I being summoned by the Los Angeles Department of Animal Services?</p>

            </h2>
          </div>
          <div class="aos-init aos-animate" data-aos="fade-right" data-aos-delay="300" data-aos-offset="0">
            <span class="list-post-description">
              <p>It has been alleged that an animal injured a person or another animal, and/or caused property damage within the City of Los Angeles.  The Department believes you are either the victim of such an incident, or the owner of the animal involved in the incident(s), or a witness to the incident(s).  You are being summoned to appear and testify at a hearing regarding the incident(s).  Per Los Angeles Municipal Code Section 53.34.4, the Department must conduct a hearing to determine whether the animal poses a threat to public safety.</p>

            </span>
          </div>
        </div>
      </div>


			<a class="anchor" id="q2"></a>
      <div class="list-item-2 container wrap-reverse align-items-end justify-content-center aos-init" data-aos="fade-right" data-aos-delay="0" data-aos-offset="0">

        <div class="flex-basis-400 flex-grow-5">
          <div class="aos-init" data-aos="fade-right" data-aos-delay="300" data-aos-offset="0">
            <h2 class="list-post-title">
              <p>What is the purpose of the hearing?</p>

            </h2>
          </div>
          <div class="aos-init" data-aos="fade-right" data-aos-delay="300" data-aos-offset="0">
            <span class="list-post-description">
              <p>The hearing is a semi-judicial proceeding – something of an informal trial.  It aims solely to gather evidence to ultimately determine whether the animal in question can safely be maintained in the City of Los Angeles.  The hearing is only concerned with public safety and welfare – it does not address potential claims for money damages or other matters that would be reserved for civil litigation.  The hearing is a public proceeding – anyone may attend and the audio of the proceedings is recorded.</p>

            </span>
          </div>
        </div>
      </div>


			<a class="anchor" id="q3"></a>
      <div class="list-item-2 container wrap-reverse align-items-end justify-content-center aos-init" data-aos="fade-right" data-aos-delay="0" data-aos-offset="0">

        <div class="list-item-2-img flex-basis-300 flex-grow-1 aos-init" data-aos="fade-right" data-aos-delay="300" data-aos-offset="0">
          <img src="" width="100%" alt="">
        </div>

        <div class="flex-basis-400 flex-grow-5">
          <div class="aos-init" data-aos="fade-right" data-aos-delay="300" data-aos-offset="0">
            <h2 class="list-post-title">
              <p>Where and when are hearings held?</p>

            </h2>
          </div>
          <div class="aos-init" data-aos="fade-right" data-aos-delay="300" data-aos-offset="0">
            <span class="list-post-description">
              <p>The date and time of your hearing should be listed on your summons.  All hearings are held downtown at the Department of Animal Services Headquarters: 221 N. Figueroa St., Suite 600, Los Angeles, CA 90012.  Suite 600 is on the 6th floor.  Plan to arrive 15 minutes in advance of your hearing time to allow time to check-in with Department staff.’</p>

            </span>
          </div>
        </div>
      </div>


			<a class="anchor" id="q4"></a>
      <div class="list-item-2 container wrap-reverse align-items-end justify-content-center aos-init" data-aos="fade-right" data-aos-delay="0" data-aos-offset="0">

        <div class="list-item-2-img flex-basis-300 flex-grow-1 aos-init" data-aos="fade-right" data-aos-delay="300" data-aos-offset="0">
          <img src="" width="100%" alt="">
        </div>

        <div class="flex-basis-400 flex-grow-5">
          <div class="aos-init" data-aos="fade-right" data-aos-delay="300" data-aos-offset="0">
            <h2 class="list-post-title">
              <p>Where should I park?</p>

            </h2>
          </div>
          <div class="aos-init" data-aos="fade-right" data-aos-delay="300" data-aos-offset="0">
            <span class="list-post-description">
              <p>Parking is available in the building’s garage for a $28 daily max.  This garage is at the back of the building; to access it via GPS, navigate to 250 N. Fremont Ave.  More inexpensive parking options may be available nearby.  Additional garages within a short walk can be found at 717 W Temple St, or 123 S. Figueroa St. (Promenade Towers).  Metered street parking is also available in the area.</p>

            </span>
          </div>
        </div>
      </div>

    </div>

  </article>
</div>

  </div>

</body>
